$text-xs: 14px;
$text-s: 16px;
$text-sm: 20px;
$text-base: 24px;
$text-m: 32px;
$text-lg: 36px;
$text-xl: 48px;
$text-2xl: 64px;
$text-3xl: 72px;
$text-color-primary: #650300;
$text-color-secondary: #fff;
$text-color-Tertiary: #aa0601;
$text-color-default: #000000;
$about-bg-color: #aa06010d;
$contact-bg-color: #aa06010d;
$footer-bg-color: #aa0601;
$btn-color-primary: #aa0601;
$btnHover-color-primary: #580603;
$text-hover-color-primary: #ffeaa7;
$square-color-primary: #5f3e2d;
$square-color-secondary: #b75929;
$border-color-primary: #fff;
